<!DOCTYPE html>
<html>
<head>
<title>GESTIONE FATTURE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}

.fa-leaf, .fa-coffee {
	font-size: 300px
}


</style>
</head>
<body>
<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-blue-grey w3-card w3-left-align w3-large">
			<a
				class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
				href="javascript:void(0);" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				href="http://localhost:8080/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
		</div>

		<!-- Navbar on small screens -->
		<div id="navDemo"
			class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
		</div>
	</div>
	<!-- Header -->
	<header class="w3-container w3-blue-grey w3-center"
		style="padding: 128px 16px">	
		<h1 class="w3-margin w3-jumbo">Gestione Fatture</h1>
		
		<div class="w3-container w3-card w3-left-align w3-padding w3-margin w3-quarter">
			<h3>Cerca fattura per:</h3>
		<form action="/fatturacontroller/findbyclienttemplate">
			<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="ragioneSociale" placeholder="Ragione Sociale">
			<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Find</button>	
		</form><br>
		<form action="/fatturacontroller/findbystatofatturatemplate">
			<input class="w3-input w3-border w3-round-large w3-tiny" type="text" name="stato" placeholder="Stato Fattura">
			<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Find</button>	
		</form><br>
		<form action="/fatturacontroller/findbydatatemplate">
			<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="date" placeholder="Data">
			<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Find</button>	
		</form><br>
		<form action="/fatturacontroller/findbyannotemplate">
			<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="anno" placeholder="Fatturato">
			<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Find</button>	
		</form><br>
		<form action="/fatturacontroller/findbyrangeimporttemplate">
			<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="value1" placeholder="Importo Min">
			<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="value2" placeholder="Importo Max">
			<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Find</button>	
		</form><br>
		</div>
		
		<div class="w3-container w3-card w3-left-align w3-padding w3-margin w3-half">
			<h3>Inserisci un nuova Fattura:</h3>
			<form action="/fatturacontroller/saveget">
				<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="ragioneSociale" placeholder="Ragione Sociale"><br>
				<input class="w3-input w3-border w3-round-large w3-tiny"type="date" name="data" placeholder="Data Fattura"><br>
				<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="numero" placeholder="Numero Fattura"><br>
				<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="anno" placeholder="Anno"><br>
				<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="importo" placeholder="Importo"><br>
				<input class="w3-input w3-border w3-round-large w3-tiny"type="text" name="stato" placeholder="Stato Fattura"><br>
				
				<button	class="w3-button w3-black w3-tiny w3-round-large" name="Submit">Salva</button>
			</form>
		</div>
		
		
	</header>
	<!-- Grid -->
	<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
		<div class="w3-content">
			<div class="w3-third w3-center">
				<i class="fa fa-leaf w3-padding-64 w3-text-green w3-margin-right"></i>
			</div>

			<div class="w3-twothird">
				<h1>La nuova energia su misura per te.</h1>
				<h5 class="w3-padding-32">Tutti i nostri servizi ad un clic di distanza</h5>

				<p class="w3-text-grey">Il settore energetico sta cambiando:
					nuove tecnologie, attenzione all’ambiente e digitalizzazione hanno
					trasformato le necessità e le esigenze del settore pubblico e
					privato. Scopri Epic Energy Services e cambia il tuo modo di usare l’energia:
					prodotti e servizi creati per rendere più efficiente e semplice la
					vita di tutti i giorni, dalla mobilità alla domotica, con offerte
					pensate per privati, aziende e pubbliche amministrazioni.</p>
			</div>
		</div>
	</div>

	<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
		<h1 class="w3-margin w3-xlarge">Quote of the day: Each moment of
			a happy lover's hour is worth an age of dull and common life.</h1>
	</div>

	<!-- Footer -->
	<footer class="w3-container w3-padding-64 w3-center w3-opacity">
		<div class="w3-xlarge w3-padding-32">
			<i class="fa fa-facebook-official w3-hover-opacity"></i> <i
				class="fa fa-instagram w3-hover-opacity"></i> <i
				class="fa fa-snapchat w3-hover-opacity"></i> <i
				class="fa fa-pinterest-p w3-hover-opacity"></i> <i
				class="fa fa-twitter w3-hover-opacity"></i> <i
				class="fa fa-linkedin w3-hover-opacity"></i>
		</div>-
	</footer>
	

</body>
</html>